{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.8"
    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.base.babel.js"
      }
    }
  },
  "plugins": ["react", "import"],
  "globals": {
    "API_BASE": false,
    "BUILD_TIME": false
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": ["error", { "code": 120, "tabWidth": 2 }],
    "linebreak-style": ["error","unix"],
    "no-trailing-spaces": "error",
    "quotes": ["error","single", { "avoidEscape": true }],
    "semi": ["error", "never"],
    "no-var": 2,
    "block-scoped-var": "error",
    "no-multi-spaces": ["error", { "exceptions": { "ImportDeclaration": true, "VariableDeclarator": true, "BinaryExpression": true } }],
    "no-unused-expressions": "error",
    "arrow-parens": "error",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "curly": "error",
    "object-curly-spacing": ["error", "always"],
    "array-callback-return": "error",
    "no-invalid-this": "error",
    "no-useless-escape": 0,
    "eol-last": 1
  }
}
