{
  "defaultSeverity": "warning",
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "each",
        "extend",
        "include",
        "mixin",
        "if",
        "else"
      ]
    }],
    "unit-no-unknown": [true, {
      "ignoreUnits": ["x"]
    }]
  }
}
